extends layout
block content
  h1 #{title}
  form(method='POST' action='')
    div(class='form-group')
      label(for='name') Genre:
      input(class='form-control' type='text' id='name' placeholder='Fantasy, Poetry, etc' name='name' value=(genre===undefined ? '' : genre.name))
    button(class='btn btn-primary' type='submit') Submit
  if errors 
    ul
      for error in errors
        li!=error.msg